@charset "UTF-8";
* { margin: 0; padding: 0; list-style: none; text-decoration: none; border: none; outline: none; color: inherit; box-sizing: border-box; }

html { overflow-x: hidden; }

body { font-size: 14px; }

p, td { word-break: break-all; }

input[type="button"], button { cursor: pointer; }

input[type="text"], input[type="password"], textarea, input[type="file"] { border-radius: 5px; }

input:focus, textarea:focus { transition: .4s; box-shadow: 0 0 5px rgba(0, 0, 0, 0.4); }

#header { margin: 0 auto; justify-content: center; text-align: center; align-items: center; }

/* 세팅 */
/* 버튼 */
.btn { display: inline-block; padding: 10px 20px; cursor: pointer; background: #3f3f3f; color: #fff; transition: .3s; border-radius: 5px; }
.btn:hover { background: rgba(63, 63, 63, 0.8); }
@media (max-width: 767px) { .btn { font-size: 12px; } }

.btn_group > a { float: right; margin-left: 5px; }

/* 제목 */
.title { font-size: 20px; font-weight: bold; color: #3f3f3f; text-align: center; margin-bottom: 20px; }

/* 테이블(view,mypage) */
.table { width: 100%; border-spacing: 0 0; border-radius: 10px; border: 1px solid #bebebe; overflow: hidden; margin-bottom: 20px; }
.table > colgroup > col:nth-child(1) { width: 20%; }
.table > colgroup > col:nth-child(2) { width: 80%; }
.table > tbody > tr > td { padding: 10px; }
.table > tbody > tr > td:nth-child(1) { background: #3f3f3f; color: #fff; }
@media (max-width: 767px) { .table > tbody > tr > td { font-size: 12px; } }

/* 폼(join,login,write,update) */
.form { max-width: 600px; margin: 0 auto; margin-top: 80px; color: #3f3f3f; padding: 0 15px; }
.form > form > button[type='submit'] { width: 100%; margin-bottom: 20px; }
.form > form > label { width: 100%; height: 40px; display: inline-block; text-align: center; margin-bottom: 20px; }
.form > form > label > input { width: 100%; height: 100%; border: 1px solid rgba(63, 63, 63, 0.4); margin-bottom: 20px; padding: 10px; }
.form > form > label > textarea { width: 100%; height: 200px; border: 1px solid rgba(63, 63, 63, 0.4); padding: 10px; margin-bottom: 20px; }

/* 컨텐츠 */
.content { max-width: 1000px; margin: 0 auto; margin-top: 80px; padding: 0 4vw; }

/* 헤더 */
#header { width: 100%; height: 50px; display: flex; background: #3f3f3f; color: #fff; justify-content: space-between; padding-left: 0 10px; }
#header > #gnb { max-width: 1600px; width: 100%; display: flex; justify-content: space-between; margin: 0 auto; align-items: center; }
#header > #gnb > #logo { font-size: 24px; margin-left: 10px; }
#header > #gnb > ul { display: flex; }
#header > #gnb > ul > li > a { display: block; padding: 15px 25px; cursor: pointer; transition: .3s; }
#header > #gnb > ul > li > a:hover { background: #6f6f6f; color: #fff; }

/* 메인 페이지 */
.list-table { width: 100%; border-spacing: 0 0; margin-bottom: 15px; }
.list-table > colgroup > col:nth-child(1) { width: 10%; }
.list-table > colgroup > col:nth-child(2) { width: 10%; }
.list-table > colgroup > col:nth-child(3) { width: 65%; }
.list-table > colgroup > col:nth-child(4) { width: 15%; }
.list-table > thead { font-size: 14px; background: #3f3f3f; color: #fff; }
@media (max-width: 767px) { .list-table > thead { font-size: 12px; } }
.list-table > thead tr > th { padding: 5px; }
.list-table > thead tr > th:nth-child(3) { text-align: left; }
.list-table > tbody tr { text-align: center; }
.list-table > tbody tr > td { padding: 5px; border-bottom: 1px solid rgba(63, 63, 63, 0.4); }
.list-table > tbody tr > td:nth-child(3) { text-align: left; }
@media (max-width: 767px) { .list-table > tbody tr > td { font-size: 12px; } }

/* 푸터 */
#footer { width: 100%; height: 40px; background: #3f3f3f; color: #fff; position: fixed; bottom: 0; text-align: center; line-height: 40px; }

/*# sourceMappingURL=common.css.map */
