@charset "utf-8";
@import "functions";
@import "tag_setting";

/* 세팅 */

/* 버튼 */

.btn{
	display: inline-block;
	padding: 10px 20px;
	cursor: pointer;
	background: $mainColor;
	color: #fff;
	transition: .3s;
	border-radius: 5px;
	&:hover{
		background: fade-out($mainColor,.2);
	}
}

.btn_group{
	>a{
		float: right;
		margin-left: 5px;
	}
}

/* 제목 */

.title{
	font-size: 20px;
	font-weight: bold;
	color: $mainColor;
	text-align: center;
	margin-bottom: 20px;
}

/* 테이블(view,mypage) */

.table{
	width: 100%;
	border-spacing: 0 0;
	border-radius: 10px;
	border: 1px solid #bebebe;
	overflow: hidden;
	margin-bottom: 20px;
	>colgroup{
		>col:nth-child(1){width: 20%;}
		>col:nth-child(2){width: 80%;}
	}
	>tbody{
		>tr{
			>td{
				padding: 10px;
				&:nth-child(1){
					background: $mainColor;
					color: #fff;
				}
			}
		}
	}
}

/* 폼(join,login,write,update) */

.form{
	max-width: 600px;
	margin: 0 auto;
	margin-top: 80px;
	color: $mainColor;
	padding: 0 15px;
	>form{
		>button[type='submit']{
			width: 100%;
			margin-bottom: 20px;
		}
		>label{
			width: 100%;
			height: 40px;
			display: inline-block;
			text-align: center;
			margin-bottom: 20px;
			>input{
				width: 100%;
				height: 100%;
				border: 1px solid fade-out($mainColor,.6);
				margin-bottom: 20px;
				padding: 10px;
			}
			>textarea{
				width: 100%;
				height: 200px;
				border: 1px solid fade-out($mainColor,.6);
				padding: 10px;
				margin-bottom: 20px;
			}
		}
	}
}

/* 헤더 */

#header{
	max-width: 1600px;
	height: 50px;
	display: flex;
	background: $mainColor;
	color: #fff;
	@extend %center;
	justify-content: space-between;
	padding-left: 0 10px;
	>#logo{
		font-size: 24px;
		margin-left: 10px;
	}
	>#gnb{
		>ul{
			display: flex;
			>li > a{
				display: block;
				padding: 15px 25px;
				cursor: pointer;
				transition: .3s;
				&:hover{
					background: #6f6f6f;
					color: #fff;
				}
			}
		}
	}
}

/* 메인 페이지 */

#main{
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 4vw;
	margin-top: 80px;
	@include clr();
	>.list-table{
		width: 100%;
		border-spacing: 0 0;
		margin-bottom: 15px;
		>colgroup > col{
			&:nth-child(1){width: 10%;}
			&:nth-child(2){width: 10%;}
			&:nth-child(3){width: 65%;}
			&:nth-child(4){width: 15%;}
		}
		>thead{
			font-size: 14px;
			background: $mainColor;
			color: #fff;
			tr{
				>th{
					padding: 5px;
					&:nth-child(3){
						text-align: left;
					}
				}	
			} 
		}
		>tbody{
			tr{
				text-align: center;
				>td{
					padding: 5px;
					border-bottom: 1px solid fade-out($mainColor,.6);
					&:nth-child(3){
						text-align: left;
					}
				}
			}
		}
	}
}



/* 마이 페이지 */

#mypage{
	max-width: 1000px;
	margin: 0 auto;
	margin-top: 80px;
}

/* 글보기 페이지 */

#view{
	max-width: 1000px;
	margin: 0 auto;
	margin-top: 80px;
}